<div *ngIf="user">
  <app-privacy *ngIf="!termsAccepted" (accepted)="setLocalStorage($event)"></app-privacy>
  <ng-container *ngIf="termsAccepted">
    <app-chat></app-chat>
  </ng-container>
</div>

<!-- <amplify-chatbot bot-name="GetAdvise" bot-title="Get Advice Chat bot" [attr.welcome-message]="welcomeMessage">
    </amplify-chatbot> -->