<div>
    <ng-container *ngFor="let message of messageList; let $index = index;">
        <div *ngIf="message.type === 'bot'" class="container darker talk-bubble triangle left-top">
            <ng-container *ngIf="message.message.dialogState === 'ElicitSlot' && message.message.responseCard;else showMessage">
                <app-response-card [data]="message.message.responseCard" [disabled]="$index !== (messageList.length - 1)" (sendResponse)="sendMessage($event)"></app-response-card>
            </ng-container>
            <ng-template #showMessage>
                <div *ngIf="message.message.messageFormat === 'PlainText'">
                    {{message.message.message}}
                </div>
                <div *ngIf="message.message.messageFormat === 'CustomPayload'">
                    <p [innerHtml]="getMessage(message.message.message)"></p>
                </div>
                <div *ngIf="message.message.messageFormat === 'Composite'">
                    <p [innerHtml]="getMessage(message.message.message)"></p>
                </div>
            </ng-template>
        </div>
        <div *ngIf="message.type === 'user'" class="container talk-bubble triangle right-top user-response">
            {{message.message}}
        </div>
        <div *ngIf="message.type === 'loading'" class="container darker talk-bubble triangle left-top">
            loading................
        </div>
    </ng-container>
</div>
<form #userInputForm="ngForm" name="userInputForm" (submit)="sendText(userInputForm)" class="user-form">
    <input type="text" [(ngModel)]="userInput" name="userInput" required>
    <button type="submit" [disabled]="userInputForm.invalid" class="btn-colour">send</button>
</form>