/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
  font-weight: 300;
	src: url('../../../assets/lato/lato-v17-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../../assets/lato/lato-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../assets/lato/lato-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-300.woff') format('woff'), /* Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../../assets/lato/lato-v17-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../../../assets/lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../../assets/lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../assets/lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../../assets/lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../../../assets/lato/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../../assets/lato/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../assets/lato/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../../assets/lato/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: url('../../../assets/lato/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../../../assets/lato/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../assets/lato/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
		url('../../../assets/lato/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../../assets/lato/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Lato';
}

div {
  margin: 10px;
}

/* Chat containers */
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin: 18px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.user-response {
  margin-left: auto !important;
  min-width: 30%;
  max-width: 60%;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.talk-bubble.left-top {
  position: relative;
  min-width: 200px;
  max-width: 50%;
  height: auto;
  background-color: #eef3f9;
  font-family: "Lato";
  padding: 15px;
  border: none;
  color: #35426c;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.talk-bubble.right-top {
  position: relative;
  min-width: 200px;
  max-width: 60%;
  height: auto;
  background-color: #35426c;
  font-family: "Lato";
  padding: 20px;
  border: none;
  color: #fff;
}

.triangle.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid #eef3f9;
  border-color: #eef3f9 transparent transparent transparent;
}

.triangle.right-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0;
  bottom: auto;
  border: 32px solid #35426c;
  border-color: #35426c transparent transparent transparent;
}

.user-form {
  display: flex;
  button {
    margin: 18px 18px 18px 0;
  }
}
