<div *ngFor="let attachment of data.genericAttachments">
    <h2>{{attachment.title}}</h2>
    <h6 *ngIf="attachment.subTitle !== attachment.title">{{attachment.subTitle}}</h6>
    <div class="card-buttons">
        <button *ngFor="let button of attachment.buttons" class="btn-colour" (click)="sendResponse.emit(button.value)" [disabled]="disabled">{{button.text}}</button>
    </div>
</div>