/* You can add global styles to this file, and also import other style files */
.btn-colour {
    color: #FFF;
    background: #ff9e00;
    border: #ff9e00;
    padding: 0 15px;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: bold;
    border-radius: 0;
}

.btn-colour:hover,
.btn-colour:active,
.btn-colour:focus,
.btn-colour.active {
    /* let's darken #004E64 a bit for hover effect */
    color: #FFF;
    background: #ff9e00;
    border: #ff9e00;
}